{% extends 'therapists/base.html' %}{% block title %}Add Facility{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="form-container container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <form action="" method="post" class="card card-body mt-5 p-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="card-title">Update your work profile</h3><hr class="dropdown-divider mt-0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'messages.html' %}
                            {{ AddFacilityForm|crispy }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 d-grid">
                            <button type="submit" class="btn btn-outline-secondary mt-2 mb-3">Update work profile</button><hr class="dropdown-divider">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>