{% extends 'users/base.html' %}{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section profile">
			<div class="row">
				<div class="col-xl-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{request.user.profile_pic.url}}" alt="Profile" class="rounded-circle" style="border: 1px solid black">
							<h2 class="text-center">{{request.user.username|title}} {% if request.user.marital_status == 'Dating' %}<i class="bi bi-heart-fill" style="color: rgb(190, 19, 19)"></i>{% elif request.user.marital_status == 'Engaged' %}<i class="bi bi-bookmark-heart-fill" style="color: rgb(192, 22, 22)"></i>{% elif request.user.marital_status == 'Married' %}<i class="bi bi-people-fill" style="color: red"></i>{% endif %}</h2>
							<h3 class="text-center">{{request.user.age|default:"Age"}} yrs | {{request.user.gender|default:"Gender"}} | {{request.user.location|default:"Location"}}</h3>
						</div>
					</div>
				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
								<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
								</li>

								<li class="nav-item">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
								</li>

								<li class="nav-item">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
								</li>

							</ul>

							<div class="tab-content pt-2">
								<div class="tab-pane fade show active profile-overview" id="profile-overview">
									{% include 'messages.html' %}
									<h5 class="card-title">Profile Details</h5>
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8">{{user.userprofile.reg_user|title}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">{{request.user.email}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Gender</div>
										<div class="col-lg-9 col-md-8">{{request.user.gender|default:"--"}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Date of Birth</div>
										<div class="col-lg-9 col-md-8">{{request.user.dob|default:"--"}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Age</div>
										<div class="col-lg-9 col-md-8">{{request.user.age|default:"--"}}</div>
									</div>

                                    <div class="row">
										<div class="col-lg-3 col-md-4 label">Phone</div>
										<div class="col-lg-9 col-md-8">{{request.user.phone_no|default:"--"}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Marital Status</div>
										<div class="col-lg-9 col-md-8">{{request.user.marital_status|default:"--"}}</div>
									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
									<form action="" method="POST" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row mb-3">
											<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
											<div class="col-md-8 col-lg-9">
												<img src="{{request.user.profile_pic.url}}" alt="img">
											</div>
										</div>
										<div class="row mb-3">
                                            <div class="col-md-8 col-lg-9">
                                                {{ UpdateProfileForm|crispy }}
                                            </div>
										</div>
										<div class="text-center d-grid mt-3">
											<button type="submit" class="btn btn-primary">Save Changes</button>
										</div>
									</form>
								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password">
									<form action="">
										{% csrf_token %}
										<div class="row mb-3">
										<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
										<div class="col-md-8 col-lg-9">
											<input name="password" type="password" class="form-control" id="currentPassword">
										</div>
										</div>

										<div class="row mb-3">
										<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
										<div class="col-md-8 col-lg-9">
											<input name="newpassword" type="password" class="form-control" id="newPassword">
										</div>
										</div>

										<div class="row mb-3">
										<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
										<div class="col-md-8 col-lg-9">
											<input name="renewpassword" type="password" class="form-control" id="renewPassword">
										</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change Password</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>