{% extends 'users/base.html' %}{% block title %}Homepage{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="" name="description">
	<meta content="" name="keywords">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card gbv-card">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>
										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Sessions <span>| Today</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-bar-chart-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ total_sessions }}</h6>
											<span class="text-success small pt-1 fw-bold">{{percent}}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xxl-4 col-md-6">
							<div class="card info-card appointment-card">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>
										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Your appointments <span>| This Month</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-calendar-date-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ total_appointments }}</h6>
											<span class="text-success small pt-1 fw-bold">{{monthly_percent}}%</span> <span class="text-muted small pt-2 ps-1">increase</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
										<h6>Filter</h6>
										</li>

										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>
								<div class="card-body">
									<h5 class="card-title">Scheduled sessions <span>| Today</span></h5>
									<div id="reportsChart"></div>
									
									<script>
										
										document.addEventListener("DOMContentLoaded", () => {
										new ApexCharts(document.querySelector("#reportsChart"), {
											series: [{
											name: 'Scheduled sessions',
											data: [10, 20, 30, 60, 80, 40, 100, 50, 25]},{
											name: 'Testimonies',
											data: [5, 10, 25, 30, 60, 80, 60, 50, 15]
											}],
											chart: {
											height: 350,
											type: 'area',
											toolbar: {
												show: false
											},
											},
											markers: {
											size: 4
											},
											colors: ['#4154f1', '#ff771d'],
											fill: {
											type: "gradient",
											gradient: {
												shadeIntensity: 1,
												opacityFrom: 0.3,
												opacityTo: 0.4,
												stops: [0, 90, 100]
											}
											},
											dataLabels: {
											enabled: false
											},
											stroke: {
											curve: 'smooth',
											width: 2
											},
											xaxis: {
											type: 'datetime',
											categories: [
												"2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z",
												"2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z",
												"2018-09-19T06:30:00.000Z", "2018-09-19T07:30:00.000Z", "2018-09-19T08:30:00.000Z"
												]
											},
											tooltip: {
											x: {
												format: 'dd/MM/yy HH:mm'
											},
											}
										}).render();
										});
									</script>
									
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card scheduled-sessions overflow-auto">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>
										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Scheduled sessions <span>| Today</span></h5>
									<table class="table table-bordered">
										<thead>
											<tr class="table-secondary">
												<th scope="col">#</th>
												<th scope="col">Medic</th>
												<th scope="col">Session</th>
												<th scope="col">Date</th>
												<th scope="col">Time</th>
												<th scope="col">Status</th>
											</tr>
										</thead>
										<tbody>
											{% for session in user_sessions %}
											<tr>
												<th scope="row"><a href="">{{forloop.counter}}</a></th>
												<td><a href="">{{ session.medic }}</a></td>
												<td>{{ session.session }}</td>
												<td>{{ session.appointment_date }}</td>
												<td>{{ session.appointment_time }}</td>
												<td>
													{% if session.approved is True %}<span class="badge bg-success">Approved</span>
													{% else %}
													<a href="">Pending... 
														<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
													</a>
													{% endif %}
												</td>
											</tr>
											{% empty %}
											<tr><td colspan="6" class="form-text text-muted text-center">No scheduled sessions available</td></tr>
											{% endfor %}
										</tbody>
									</table>

								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="modal fade" id="all-blogs" tabindex="-1">
						<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Testimonials</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="activity">
										{% for story in testimonials reversed %}
										<div class="activity-item d-flex">
											<div class="activity-label">{{ blog.written|timesince|slice:":4" }}</div>
											<img src="{{ story. }}" class="rounded-circle activity-badge align-self-start mt-3" height="50px" width="50px" alt="">
											<div class="activity-content">
												<p class="fw-bold text-secondary">{{ story. }}</p>
												<hr class="dropdown-divider">

											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><i class="bi bi-play-circle-fill" style="color: red;"></i> Testimonials <span>| Today</span></h5>
							<div class="activity">
								<hr class="dropdown-divider mt-0">
								{% for story in testimonials reversed %}
								<div class="activity-item d-flex">
									<img src="{{ story. }}" class="rounded-circle" height="65px" width="65px" alt="img">
									<div class="activity-content">
										<a href="{% url 'testimonials' %}" class="fw-bold text-dark">{{ story.experience|truncatewords:9 }}</a>
										<div class="activite-label">{{ story.created|timesince|slice:":6" }} ago</div>
									</div>									
								</div>
								<hr class="dropdown-divider mt-0">
								{% empty %}
								<div class="activity-item">
									<h6 class="small fst-italic text-muted text-center">
										Users stories will appear here ..
									</h6>
								</div>
								{% endfor %}
								{% if testimonials %}
								<hr class="dropdown-divider">
								<div class="text-center">
									<a href="" style="text-decoration: none;" class="badge bg-primary p-2" data-bs-toggle="modal" data-bs-target="#all-blogs">View more</a>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Suggestions</h5>
							<div class="news therapists">
								<div class="post-item therapist-info">
									<img src="" height="36px"width="36px" class="rounded-circle" alt="img">
									<h4></h4>
									<p></p>
									<p></p>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

							<div class="news">
								<div class="post-item clearfix">
									<img src="{% static 'news.jpg' %}" alt="">
									<h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
									<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'news.jpg' %}" alt="">
									<h4><a href="#">Quidem autem et impedit</a></h4>
									<p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
								</div>

								<div class="post-item clearfix">
									<img src="{% static 'news.jpg' %}" alt="">
									<h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
									<p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>