{% extends 'users/base.html' %}{% block title %}Medical Support{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section profile">
            <div class="row">
                {% for counsel in counsellors %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="{{counsel.name.counsellorprofile.dp.url}}" alt="Profile" class="rounded-circle" style="border: 1px solid black">
                            <h2 class="text-center">{{counsel.name.counsellorprofile.counsellor|title}}</h2>
                            <h3 class="text-center">{{counsel.name.counsellorprofile.age|default:"Age"}} yrs | {{counsel.name.counsellorprofile.gender|default:"Gender"}} | {{counsel.name.counsellorprofile.marital_status}} {% if user.userprofile.marital_status == 'Dating' %}<i class="bi bi-heart-fill" style="color: rgb(190, 19, 19)"></i>{% elif user.userprofile.marital_status == 'Engaged' %}<i class="bi bi-bookmark-heart-fill" style="color: rgb(192, 22, 22)"></i>{% elif user.userprofile.marital_status == 'Married' %}<i class="bi bi-people-fill" style="color: red"></i>{% endif %}</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr class="dropdown-divider">
                                    <h5 class="text-center"><i class="bi bi-clock-fill" style="color: #4154f1;"></i> Open Hours</h5>
                                    <p class="mb-1">Monday - Friday ({{counsel.opening_hours}} - {{counsel.closing_hours}})</p>
                                    <h6 class="text-center"><a href="{% url 'contact_us' counsel.location  counsel.name %}">Contact Me</a></h6>
                                    <hr class="dropdown-divider mb-1">
                                    <div class="modal fade" id="scheduleform" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Schedule appointment</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                        {{schedule_form|crispy}}
                                                        <div class="modal-footer mt-2">
                                                            <button type="submit" class="btn btn-primary">{% for message in messages %}{% if message.tags == 'warning' %}Reschedule {% elif message.tags == 'danger' %}Submit{% endif %}{% empty %}Schedule appointment{% endfor %}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}">
                                        <small>
                                            {{message}} 
                                            {% if message.tags == 'warning' or message.tags == 'danger' %}
                                            <a href="{% url 'medic' %}" data-bs-toggle="modal" data-bs-target="#scheduleform">Click here to edit.</a>
                                            {% endif %}
                                        </small>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <a href="{% url 'medic' %}" class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#scheduleform">Make an appointment</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>