{% extends 'users/base.html' %}{% block title %}Mettings{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section profile">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body pt-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-start"><i class="bi bi-camera-reels-fill" style="color: red;"></i> Session</h5><hr class="dropdown-divider">
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body pt-3">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6 class="text-end"><i class="bi bi-folder-fill" style="color: #ffc107;"></i> Counselling progress Form</h6><hr class="dropdown-divider">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="form-text text-muted text-center">You can use this form to inform your counsellor about your progress</p>
                                        {% include 'messages.html' %}{{progress_form|crispy}}
                                        <hr class="dropdown-divider">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 d-grid">
                                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>