{% extends 'users/base.html' %}{% block title %}Your Appointments{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section dashboard">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body pt-3">
                            <h5 class="text-end mb-0"><i class="bi bi-calendar2-day-fill" style="color: rgb(19, 19, 216);"></i> Scheduled appointments</h5><hr class="dropdown-divider">
                            <div class="table-responsive-sm">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="table-active text-center">
                                            <th>Date</th>
                                            <th>Counsellor</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for session in user_sessions reversed %}
                                        <tr>
                                            <td><i class="bi bi-calendar2-check-fill" style="color: rgb(9, 9, 146); font-size: 25px;"></i> Date: {{ session.appointment_date }} <br>Time: {{ session.appointment_time}}</td>
                                            <td><b>Name: </b><a href="{% url 'medic' %}">{{ session.medic }}</a></td>
                                            <td class="text-center">
                                                {% if session.approved is True %}
                                                <span class="badge bg-success">Approved <i class="bi bi-check-circle"></i></span>
                                                {% else %}
                                                <hr class="dropdown-divider">
                                                Pending... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                              {% endif %}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr><td colspan="3">No appointments available</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>