{% extends 'counsellors/base.html' %}{% block title %}Approval appointment {% endblock %}
{% load crispy_forms_tags %}{% load crispy_forms_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body pt-3">
                        <div class="row">
                            <div class="col-md-12">                            
                                <div class="modal fade" id="scheduleform" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Approve appointment for date {{obj.appointment_date}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <img src="{{obj.patient.profile_pic.url}}" height="50px" width="50px" class="rounded-circle" alt="img"> <b>{{obj.patient|title}} </b>
                                                    {{approval_form|crispy}}
                                                    <div class="modal-footer mt-2">
                                                        <button type="submit" class="btn btn-primary">Approve</button>
                                                    </div>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-center">Click here to <a href="{% url 'approve' obj.scheduled %}" data-bs-toggle="modal" data-bs-target="#scheduleform">approve</a></h6>
                                <hr class="dropdown-divider mb-1">
                                <h6 class="text-center">You can <a href="">click here</a> to reschedule.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>