{% extends 'counsellors/base.html' %}{% block title %}Edit Log{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section dashboard">
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body pt-3">
                            <h5 class="text-start card-title">Instructions</h5>
                            <p class="text-muted text-center">
                                Hello {{user.first_name|title}}.<br>
                                Follow this instructions to edit and provide today's updates in your log book.<br>
                                &bullet; On your right is an existing log book.<br>
                                &bullet; Press Enter twice to leave two blank spaces.<br>
                                &bullet; Type session details you want to provide, remember to include the name of the patient you were cancelling.<br>
                                &bullet; You can also edit mispelt information.<br>
                                &bullet; Submit your form.
                                <br>
                            </p>
                            <hr class="dropdown-divider">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body pt-3">
                            <h5 class="text-end">Log form</h5>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% include 'messages.html' %}{{edit_form|crispy}}
                                <hr class="dropdown-divider">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>