{% extends 'counsellors/base.html' %}{% block title %}{{user.first_name}}'s log book{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section dashboard">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-start card-title">Instructions</h5>
                            <p class="text-muted">
                                Hello {{user.first_name|title}}. These are instructions on how you will fill your log book.
                                Use this digital log book to provide details about your sessions: <br>
                                &bullet; What time you reported to work and what you left.<br>
                                &bullet; A brief description about each session. Indicate whether the session was virtual or physical.<br>
                                &bullet; Provide the name of the patient you were counselling.<br>
                                <br>
                                Click the blue &oplus; icon to update your log book or click the dates on the date column to edit events for a particular date.
                            </p>
                            <hr class="dropdown-divider">
                            <h6 class="text-center"><b>NB: Only you can see and access this notebook</b></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body pt-2">
                            <h5 class="text-end mb-0"><i class="bi bi-sticky-fill" style="color: orange;"></i> {{user.counsellorprofile}}'s log book</h5><hr class="dropdown-divider">
                            <div class="modal fade" id="logForm" tabindex="-1">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Log book for date {% now "D, d M. Y" %}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <b>{{user.counsellorprofile}}</b> <img src="{{user.counsellorprofile.dp.url}}" height="50px" width="50px" class="rounded-circle" alt="img">
                                                {{log_form|crispy}}
                                                <div class="modal-footer mt-2">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% if current_date is False %}<h6 class="text-end"><a href="{% url 'log_book' %}" data-bs-toggle="modal" data-bs-target="#logForm"><i class="bi bi-plus-circle-fill" style="font-size: 25px;"></i></a></h6>{% endif %}
                            {% include 'messages.html' %}
                            <div class="table-responsive-sm">
                                <table class="table table-sm table-bordered table-condensed table-hover">
                                    <thead>
                                        <tr class="table-active text-center">
                                            <th>Date</th><th>Description</th><th>Patients</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for log in log_book %}
                                        <tr>
                                            <td><a href="{% url 'edit_log' log.created %}">{{log.created|date:"D d-M-Y"}}</a></td>
                                            <td>{{log.description}}</td>
                                            <td>{{log.patient|title}}</td>
                                        </tr>
                                        {% empty %} <tr><td colspan="3" class="text-center form-text text-muted">No data available</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>